//- extends layout to your side
extends layout

append head
  
block content
    // Start banner section
    block banner
    
    .container.sidebar-layout
        .row
            //- // Start sidebar section
            //- aside.cell.large-3.sidebar
            //-     block sidebar

            // Start main-content section
            main.col-md-8
                block main

            // Start sidebar section
            aside.col-md-4.sidebar-wrapper
                block sidebar
            
            

