.grid-container
    .grid-x.small-up-2.medium-up-4.large-up-6
        .cell 12/6/4 cells
        .cell 12/6/8 cells
        .cell 12/6/4 cells
        .cell 12/6/8 cells
        .cell 12/6/4 cells
        .cell 12/6/8 cells
        .cell 12/6/4 cells
        .cell 12/6/8 cells
.grid-container.fluid
    .grid-x.grid-margin-x.medium-margin-collapse
        //- .[size]-auto take up the remaining space
        .cell.small-4.medium-6.large-auto 12/6/4 cells
        //- .[size]-shrink only take up the space its contents need
        .cell.small-4.medium-6.large-shrink 12/6/8 cells
        
.grid-container.full
    .grid-x.grid-padding-x
        .cell.medium-6.large-4.large-offset-2 12/6/4 cells
        .cell.medium-6.large-4 12/6/8 cells
    .grid-y.grid-padding-y(style="height: 500px;")
        .cell.medium-6.large-4.large-offset-2 12/6/4 cells
        .cell.medium-6.large-4 12/6/8 cells

.gallery
    .gallery-item 
        h3.separator-left.text-capitalize Lorem
        .text-truncate.margin-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .arrow-down
        
        ul.relational-mixin
            li Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            li Ipsa aperiam repellat ipsum facilis, 
            li repellendus tenetur mollitia ea beatae. Ex, eligendi!

form
    .grid-container
        .grid-x.grid-padding-x
            .medium-6.cell
                label Password
                    input(type="password", aria-describedby="passwordHelpText")
                p#passwordHelpText.help-text Your password must have at least 10 characters, a number, and an Emoji.

                label.button(for="exampleFileUpload") Upload File
                input#exampleFileUpload.show-for-sr(type="file")

                //- slider
                label#ageLabel Age
                #ex-slider.slider(aria-labelledby="ageLabel", aria-describedby="ageHelpText")
                    span.slider-handle(data-slider-handle, role="slider", tabindex="1", aria-controls="sliderOutput2")
                    span.slider-fill(data-slider-fill)
                    span.slider-handle(data-slider-handle, role="slider", tabindex="1")
                    input(type="hidden")
                    input(type="hidden")
                input#sliderOutput2(type="number")
                p#ageHelpText How old are you?
                
                select
                    option(value="husker") Husker    
                    option(value="starbuck") Starbuck

            fieldset.medium-6.cell.fieldset
                legend Choose Your Favorite
                input#pokemonRed(type="radio", name="pokemon", value="Red", required="")
                label(for="pokemonRed") Red
                input#pokemonBlue(type="radio", name="pokemon", value="Blue")
                label(for="pokemonBlue") Blue

                a.button.success.disabled(href="about.html") Learn More
                a.button.hollow.alert.expanded(href="about.html") Learn More
                .expanded.button-group
                    a.button Expanded
                    a.button Button
                    a.button Group
                .stacked-for-small.button-group
                    a.button Expanded
                    a.button Button
                    a.button Group
                .button-group
                    a.button Primary Action
                    a.dropdown.button.arrow-only
                        span.show-for-sr Show menu

            .small-3.cell
                label.text-right.middle(for="middle-label") Label
            .small-9.cell
                input#middle-label(type="text", placeholder="Right- and middle-aligned text input")
            //- input-group
            .input-group
                span.input-group-label $
                input.input-group-field(type="number")
                .input-group-button
                    input.button(type="submit", value="Submit")

            .success.callout(data-closable)
                p You can close me too, and I close using a Motion UI animation.
                button.close-button(aria-label="Dismiss alert", type="button", data-close)
                    span(aria-hidden="true") &times;
            //- switch
            .switch.large
                input#yes-no.switch-input(type="checkbox", name="exampleSwitch")
                label.switch-paddle(for="yes-no")
                    span.show-for-sr Do you like me?
                    span.switch-active(aria-hidden="true") Yes
                    span.switch-inactive(aria-hidden="true") No