/*-----------------------------------------
 TABLE OF CONTENT
 1. TYPOGRAPHY RESET
 2. HEADING
 3. FORM RESET
 4. CIRCLE LOADER 
------------------------------------------*/
@include loader--style1;
@include loader--style2;

/*-----------------------------------------
 1. TYPOGRAPHY RESET
------------------------------------------*/
// html { font-size: 62.5%; } /* =10px */
body{
    font-family: $font-body;
    font-size: $fontsize-sm;
    line-height: $line-height;
    color: $color-base;
    overflow-x: hidden!important;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    &:hover{
        @extend %color-hightlight;
    }
    &:hover, &:active, &:visited, &:focus{
        text-decoration: none;
    }
}
ul{ @extend %reset-ul; }

ins{ text-decoration: none; }
::selection {
    @extend %bg-hightlight;
    color: $white;
}
img {
    max-width: 100%;
    height: auto;
}
.entry-content{
    @extend %clearfix;
    ul{
        margin-bottom: 10px;
        @extend %bullet-list;
    }
    .img-left{
        float: left; margin-right: 30px;
    }
    .img-right{
        float: right; margin-left: 30px;
    }
}

%bullet-list{
    li{
        position: relative;
        padding-left: 26px;
        margin-bottom: 7px;
        &:before{
            position: absolute;
            content: "";
            top: 50%;
            left: 0px;
            border: 3px solid #999;
            border-radius: 100%;
            margin-top: -3px;
        }
    }
}
.blockquote{
    &--border{
        position:relative;
        padding: 45px 40px 45px 165px;
        margin: 20px 0 30px;
        border: 1px solid $grey;
        @include svgBg($svgIcon: quote-left, $color: $orange, $position: 45px 40px, $bgSize: 80px);
        // @include svg-bg("0 0 512 512", "M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z", $orange);
        // background-repeat: no-repeat;
        // background-position: 45px 40px;
        // background-size: 80px;
        p{ 
            font-size: 16px; 
            &:after{
                content: "";
                display: block;
                border-bottom: 1px solid $orange;
                width: 35px; 
                margin-top: 10px;
            }
        }
        &:before {
            content: "";
            position: absolute; top: 0; right: 0;
            width: 100%; height: 100%;
            border: 40px solid transparent;
            border-image: url(#{$image}/common/borders.png) 40 round;
            z-index: 3;
        }
    }
    
}
.main-wrapper{ overflow-x: hidden; }

.light-bg{ background-color: #f5f7f7; }
.block {
    padding-top: 30px; padding-bottom: 30px;
    @at-root #{&}__inner { 
         h1{ font-size: 4.8rem; text-transform: uppercase; margin-top: 0; }
         p{ max-width: 600px; margin-left: auto; margin-right: auto; }
    }
    @at-root #{&}--bgImage { 
        @include pseudo-overlay($type-bg: bgColor, $val-bg: rgba(0,0,0,0.7));
        padding-top: 0;
        @include bg($type: image, $val: "/common/pattern-bg.png");
        .block__inner{
            padding-top: 90px; padding-bottom: 90px;
            text-align: center;
            color: $white;
        }
        .container, .overlay{
            position: relative; z-index: 9;
        }
    }
    @at-root #{&}--noPadding{
        padding-top: 0; padding-bottom: 0;
    }
    @at-root #{&}--centerVert{
        // @include center(table);
    }
    @at-root #{&}--icon{
        margin-bottom: 30px;
        .icon-wrapper{
            display: inline-block;
            width: 75px; height: 75px;
            border: 2px solid #666;
            border-radius: 100%;
            overflow: hidden;
            line-height: 70px;
            font-size: 30px;
            text-align: center;
            color: #666;
            margin-bottom: 25px;
        }
        &.align-left{
            .icon-wrapper{
                float: left;
                margin: 0 30px 0 0;
            }
            .content-wrapper{ overflow: hidden; }
        }
        &:hover{
            .icon-wrapper{ @extend %bg-hightlight; color: $white; border-color: $color-highlight;}
            a{ @extend %color-hightlight; }
        }
    }
    @at-root #{&}--imgLeft{
        .thumbnail-wrapper{
            width: 80px; height: 80px;
            border-radius: 100%;
            overflow: hidden;
            background: $grey;
            float: left;
            margin: 0 30px 0 0;
        }
        .content-wrapper{ 
            overflow: hidden; 
            p{ margin-bottom: 0; }
        }
        &:hover{
            a{ @extend %color-hightlight; }
        }
    }
    @include media(sm){
        padding-top: 50px; padding-bottom: 50px;
    }
}

.hero-section.block--bgImage{
    background-image: url($image + "/sub-banner1.jpg");
}
.article{
    &__item{
    }
    &__content{
        padding-top: 20px;
        p{ margin-bottom: 20px;}
    }
}
.title{
    @at-root #{&}__wrapper{
        margin-bottom: 45px;
        text-align: center;  
        color: $dark-grey; 
        &.align-left{
            text-align: left;
            .title__main{
                &:after{
                    display: inline-block; vertical-align: middle;
                    margin: -6px 0 0 30px;
                }
            }
        }
    }
    @at-root #{&}__main{
        // font-size: 3.6rem; 
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
        &:after{
            content:"";
            display: block;
            width: 90px; height: 11px;
            background: url(#{$image}/common/haeding_bar.png) no-repeat;
            margin: 15px auto 0;
        }
    }
    @at-root #{&}__sub{
        font-size: 1.4rem;
        display: inline-block;
        text-transform: capitalize;
    }

}
.sidebar-layout {
    padding: 50px 0;
    .title__wrapper{
        text-align: left;
    }
    .title__main{
        font-size: 2.4rem;
        display: inline-block;
        &:after{
            display: inline-block; vertical-align: middle;
            margin: 0 30px;
        }
    }
    
}
.thumbnail-wrapper{
    overflow: hidden;
    position: relative;
    img{ display: block; }
    @at-root #{&}__fixedHeight{
        position: relative;
        overflow: hidden;
        height: 90px;
        img{
            @include center-position();
            height: 100%;
        }
    }
}

.ul-style{
    list-style: none;
    margin-left: 0;
    li{
        background-repeat: no-repeat;
        @include svgBg($svgIcon: chevron-right, $color: $white, $position: left 6px, $bgSize: 7px);
        // @include svg-bg("0 0 320 512", "M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z", $white);
        // background-position: left 6px;
        // background-size: 7px;
        padding-left: 3rem;
        margin-bottom: 6px;
        text-transform: capitalize;
        &:hover{
            @include svgBg($svgIcon: chevron-right, $color: $color-highlight);
            // @include svg-bg("0 0 320 512", "M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z", $color-highlight);
            // background-position: left 6px;
        }
    }
    @at-root #{&}--checkIcon{
        @include svgBg($svgIcon: check, $color: $white, $position: left 2px, $bgSize: 16px);
        // @include svg-bg("0 0 448 512", "M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z", $white);
        // background-position: left 2px;
        // background-size: 16px;
    }
    
}

@include media-destop-first(xs){ 
    .img-wrapper{
        img{ display: table; margin: auto; }
    }
}

.icon{
    @at-root #{&}--bgColor{
        li{    
            display: inline-block; 
            margin-right: 5px;
        }
        a{
            width: 40px; height: 40px;
            line-height: 42px;
            text-align: center;
            color: $white;
            font-size: 16px;
            display: inline-block;
            background: #1f1f1f;
            &:hover{
                background: $color-highlight;
            }
        }
        .svg-inline--fa{ margin: auto!important; }
    }
    
}

.icon-rounded{
    position: relative;
    display: inline-block; vertical-align: middle;
    width: 60px; height: 60px;
    text-align: center;
    line-height: 58px;
    border-radius: 100%;
    border: 1px solid $white;
    font-size: 25px;
    background-color: $orange;
    animation: radius-weaves 1.0s linear infinite;
    &:after{
        content: "";
        position: absolute; top: -30px; right: -30px; bottom: -30px; left: -30px;
        border: 1px solid $white;
        border-radius: 100%;
        visibility: hidden;
    }
    @include media(sm){
        width: 102px; height: 102px;
        line-height: 100px;
        &:after{ visibility: visible; }
    }
}
@keyframes radius-weaves {
	0% {box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1)}
    35% {box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 0 0 2 rgba(255, 255, 255, 0.1), 0 0 0 7px rgba(255, 255, 255, 0.1), 0 0 0 13px rgba(255, 255, 255, 0.1)}
    65% {box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 0 0 4 rgba(255, 255, 255, 0.1), 0 0 0 9px rgba(255, 255, 255, 0.1), 0 0 0 16px rgba(255, 255, 255, 0.1)}
	100% {box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 0 0 5px rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0)}
}
/*-----------------------------------------
 2. HEADING
------------------------------------------*/
/* Set for all headings */
h1, h2, h3, h4, h5 {
    font-weight: 600;
    margin-top: 0;
    // font-family: $font-title;
}
// set size for headers
@each $header, $size in (h1: 36px, h2: 36px, h3: 24px, h4: 18px, h5: 14px) {
    #{$header} {
        font-size: ($size / 10px) * 1rem;
    }
    %header-#{$header} {
        font-size: ($size / 10px) * 1rem;
    }
}


.badge-top{
    display: inline-block;
    text-align: center;
    color: $white;
    background: $color-highlight;
    position: absolute; 
    .main-header &, &.badge-small{
        font-size: 1rem;
        font-weight: 500;
        line-height: 7px;
        margin-left: 8px;
        padding: 4px 3px;
        text-transform: uppercase;
        top: 0; left: 10%;
    }
    &:before{
        content: "";
        position: absolute; left: 0px; bottom: -5px;
        width: 0; height: 0;
        border-style: solid;
        border-width: 5px 2px 0 0;
        border-color: $color-highlight transparent transparent transparent;
    }   
    &.orange-bg{
        background: $orange;
        &:before{
            border-color: $orange transparent transparent transparent;
        }
    }
    &.pos-right{
        &:before{
            left: auto; right: 0px; bottom: -5px;
            border-width: 0 5px 6px 0;
            border-color: transparent $color-highlight transparent transparent;
        }  
    }
}

.breadcrumb{
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 0;
    @include center-position($direction: horizontal);
    bottom: -12px;
    border-radius: 0;
    background-color: $orange;
    @include triangle-breabscrumb($direction: bottom, $width: 12px, $height: 12px, $color: $orange);
    .active, li+li:before, a{ color: $white; }
}
.pagination{
    margin: 0; border-radius: 5px;
    >li>a, >li>span{
        padding: 10px 20px;
        border-color: $grey;
    }
    .active a, .active span{ @extend %bg-hightlight, %border-hightlight ; }
}
/*-----------------------------------------
 3. FORM RESET
------------------------------------------*/
//  disable the button by make them can't be clickable and the cursor doesn't change 
// pointer-events: none;
// cursor: default;
input{
    // remove focus highlighting
    &:focus{
        outline-color: transparent!important;
        outline-style: none!important;
    }
}
::-webkit-input-placeholder{ color: $color-placeholder; }
::-moz-placeholder{ color: $color-placeholder; }
:-ms-input-placeholder{ color: $color-placeholder; }
div::-webkit-scrollbar {
    -webkit-appearance: none;
    &:vertical { width: 12px; }
    &:horizontal { height: 12px; }
    &-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid #ffffff;
    }
    &-track {
        border-radius: 10px;  
        background-color: #ffffff; 
    }
}
input:disabled, option:disabled, select.disabled{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat!important;
    opacity: .4;
    cursor: not-allowed;
    + label{ color: $grey; }
}

select{
    option:checked, option:hover {
        color: $white;
        background-color: $black;
    }
}
.select-style{
    position: relative;
    overflow: hidden;
    border: 1px solid $color-base;
    select::-ms-expand { display: none; } /* Removing the IE10 Select Element Arrow */
    select{
        width: 100%; height: 45px;
        -webkit-appearance: none; -moz-appearance: none; appearance:none; 
        border: 0px;
        background: transparent;
    }
    &:after{
        content: "";
        width: 18px ; height: 10px;
        position: absolute; top: 50%; right: 15px; z-index: -1px;
        margin-top: -5px;
        pointer-events: none;
        cursor: default;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAYAAAARZmTlAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABrUlEQVQ4y7XTz4uNURzH8de9kwmLUZKFrbJ47sJOzRgsNGUahZ57ETU7khQ28h9M1kPKFEkpzjm7mclCJkt2ojulscJCmpRkc2ks7pl64s6vJmf3vM/n+32fc/o+ff7DarbKHUWjeFY0isV2e/59LcNDOIcrMaTfmxRsxyyOoINj9War3IdpXEJotsr+TQj6EbMAtmBvHacxkOEpzObTbFTQh8cYreDJGNJUHbfwpLJxFHPNVrlzA4Ia7qOs4Ae4CvUYUgfnca8SOICXzVa5Z52e2xivfD/FhRjSEvRBuz2/VDSKGWzFcA7uxsmiUcy02/PfVrnFBK5X0DTOxpB+LYNaj6Ib+QmX12eMxpDe9sjexEQFzeF4DOlnNfePJBdfxF3UM1rEWAzpVSVzGXcqZa8xEkP6/ne/npLc5Awe6Y4h/MCJGNKLZqscx8NK/B0Ox5B6PuuKkiwaRcK2jDqYxLXKLT9gMIb0daU+q0qy6KDuHzzQY/sjhmJIn1brsaYki/bjOXZV8BcMx5AW1qqvrxWAGNIbDOaT0x2EkfUI1i3JogUM6U7RWK+RXmn9AUkfhUZVPRJ6AAAAAElFTkSuQmCC) right center no-repeat;
        background-size: 100%;
    }
}

@mixin input-fixHeight($height: 38px, $padding: 0 25px){
    padding:  $padding;
    height: $height; line-height: $height;
}


@include frm(all){
    width: 100%;
    outline: none;
    border: 1px solid $grey;
    
    background-color: $white;
    border-radius: 0;
    box-shadow: none;
    @include input-fixHeight(48px, 0 15px);
    @extend %default-transition;
    &:focus{
        border-color: $color-highlight;
    }
}
@include frm(input){ }
@include frm(link-email){  };
@include frm(link-file){  };
@include frm(link-tel){  };
@include frm(btn-link){ };


@include frm(btn){ 
    overflow: hidden;
    display: inline-block; vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    // border-radius: 4px;
    @include input-fixHeight();
    text-align: center;
    white-space: normal;
    cursor: pointer;
};

.button{
    @extend %effect-style1;
    min-width: 120px;
    &-container{
        clear: both;
        margin-top: 30px;
        text-align: center;
    }
    &.button-orange{
        &:before{ background-color: $orange; }
        &:after{ border-color: $orange; }
        &:hover{ color: $orange;}
    }
    &.button-white{
        color: rgba(51,51,51,1);
        &:before{ background-color: $white; }
        &:after{ border-color: $white; }
        &:hover{ color: $white;}
    }
    &-outline{
        background-color: transparent;
        border: 1px solid $grey;
        line-height: 45px - 2px;
        &:hover{
            color: $white;
            background-color: $black;
        }
    }
    &-link{
        display: inline-block;
        height: 45px; line-height: 45px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        @extend %default-transition;
        @include pseudo-svgBg($type: inline-block, $width: 6px, $height: 10px, $svgIcon: chevron-right, $svgColor: $white);
        // @include svg-inline(6px, 10px, 10px, "0 0 320 512", "M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z", $white);
        &:hover{
            @extend %color-hightlight;
            &:after{
                @include svgBg($svgIcon: chevron-right, $color: $color-highlight);
                // @include svg-bg("0 0 320 512", "M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z", $color-highlight);
            }
        }
    }
}

.frm{
    @at-root #{&}--inline{
        position: relative;
        overflow: hidden;
        input[type=text]{ 
            width: 100%;
            padding-right: 120px; 
            background: transparent;
        }
        @include frm(btn){
            position: absolute; top: 1px; right: 1px;
            z-index: 10;
            height: 46px; line-height: 46px;
        }
        
    }
}





