$theme: likipe;
// background: url(#{$image}/common/slider_arrow.png)
$image: "../images";
$fontUrl: "../fonts";
// 1.875rem = 30px
// 0.625rem = 10px
// 0.9375rem = 15px
// 'Open Sans', Arial, sans-serif
$font-body: 'Poppins', sans-serif;
$font-logo: '';
$font-title: ''; 
$font-subTitle: '';
$font-testimonial: '';
$font-icon: fontawesome;

$line-height: 24px;
$fontsize-sm: 1.4rem; // 14px
$fontsize-lg: 1.6rem; // 36px
$icon-sm: 1.4rem;
$icon-lg: 3rem;

$color-base: #555654;
$color-highlight: rgba(18,118,188,1);
$color-light: #eaf1f4;
$color-middle: #f0f3f6;
$color-darken: #9daeb6 ;
$color-placeholder: #ccc;
$color-error: #a12717;
$color-purple:  #9105ea;

$white: #fff;
$black: #000;
$grey: #ccc;
$light-grey: #ebe9e9;
$dark-grey: #221e00;
$orange: rgba(245,96,12,1);

$padding-sm: 15px;
$padding-lg: 60px;
$margin-xs: 30px;
$margin-lg: 60px;

$default-border-radius: 4px; 
%default-transition{transition: all 0.4s ease-in-out;}
// @extend %default-transition;

%titleFont{ font-family: $font-title;}

// @extend %color-hightlight;
/*!-----------------------------------------
 MAIN COLORS
 1. blue: rgba(18,118,188,1)
 2. orange: rgba(245,96,12,1)
------------------------------------------*/
%color-hightlight{ color: $color-highlight; }
%border-hightlight{ border-color: $color-highlight; }
%bg-hightlight{ background-color: $color-highlight; }



