/*-----------------------------------------
 footer-section
------------------------------------------*/
@mixin widget-gallery($showItems: 4){
    .widget-gallery{
        margin: 0 -7.5px -15px;
        @extend %clearfix;
        li{
            float: left;
            width: 33.3333%;
            padding: 0px 7.5px;
            margin-bottom: 15px;
        }
    }
}
.widget-footer{
    h5 {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
}
.footer-section{
    background: $dark-grey;
    address{ font-style: normal; }
    // a{ 
    //     color: $grey; 
    //     &:hover{ color: $white; }
    // }
    // ul{ list-style: none; margin:0; }

    .footer-copyright{ 
        background: #292929; 
        padding: 18px 0;
        color: #dcdbe2;
    }
    .divider{
        border-bottom: 1px solid $white;
        margin: 30px 0px 26px;
    }
    .main-footer{
        padding: 60px 0;
        color: $white;
    }
    .frm-subscribe span{ display: block; margin-bottom: 13px; }
    .payment{
        float: right;
        a{ 
            display:inline-block; vertical-align: middle; 
            &:not(:first-of-type){ margin-left: 10px; }
        }
        i{
            display: block;
            background: url(#{$image}/common/payment.png) 0 0 no-repeat;
            width: 36px; height: 25px;
        }
        @include icon-sprite(-46px, "payment1", "payment2", "payment3", "payment4");
    }
    @include widget-gallery();
    @include media(md){

    }
    @include media-destop-first(sm){
        .widget-footer{ margin-bottom: 30px; }
        .main-footer{margin-bottom: -30px;}
        .footer-copyright{ 
            text-align: center; 
            .payment{ width: 100%; margin-top: 10px;}
        }
        
    }
}

