/*-----------------------------------------
 sidebar
------------------------------------------*/
.widget-category{
  #category-menu > li{
    + li{
      border-top: 1px dashed $light-grey;
    }
    a{
      padding-left: 0;
      &:first-letter{ text-transform: uppercase; }
    }
    
  }
  .submenu-toggle{
    width: 38px; height: 38px;
    &::after{
      content: '+';
      border: 0;
      font-size: 16px;
      height: auto;
    }
    &[aria-expanded='true']::after{
      content: '\2013';
      transform: none;
    }
  }
}

.widget{
  margin-bottom: 30px;
  .title-wrapper{
    text-align: left;
    border-bottom: 1px solid $light-grey;
    h4{
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &:after{
      position: relative; top: 2px;
      margin-left: 0;
    }
  }
}
.product-list{
  li {
    margin-bottom: 10px;
    > a{
      overflow: hidden;
      display: block;
    }
  }
  img{
    width: 60px;
    float: left;
    margin-right: 10px;
    border: 1px solid #aaa;
    background: #f5f5f5;
    border-radius: 4px;
  }
  &:hover{
    img{ border: 1px solid #1e74a5; }
  }
  h5{
    // @extend %truncate-Str;
  }
  .price{
    del{ color: $grey; margin-right: 5px;}
    ins{ text-decoration: none; }
  }
  
}
.tagcloud{
  a{ 
    &:after{
      content: ",";
      display: inline-block;
      margin-right: .5em; 
    } 
  }
}
#sort-product-frm select{
  float: right;
}
#price-filter-frm{
  text-align: center;
  input{
    margin-top: 10px;
    background: transparent;
    text-align: center; 
    border: 0;
    box-shadow: none;
  }
}