//- extends layout to your side
extends layout/layout

block var
	- title = "Blog page";
block content

	// Start hero-section
	section.hero-section.block--bgImage
		+heroItem("Blog", "Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum.")
			+breadcrumb([["pages", "#"]], "Blog")

	// End hero-section 
	
	// Start tour-section
	section.block.tour-block
		.container
			.row
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img1.jpg", "", "", "")(class="col-sm-6 col-md-4")
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img2.jpg", "", "", "")(class="col-sm-6 col-md-4")
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img3.jpg", "", "", "")(class="col-sm-6 col-md-4")
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img4.jpg", "", "", "")(class="col-sm-6 col-md-4")
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img5.jpg", "", "", "")(class="col-sm-6 col-md-4")
				+postItem-style2($imgBaseUrl + "placeholder/rala-post-img6.jpg", "", "", "")(class="col-sm-6 col-md-4")

			.button-container
				+bs-pagination()