//- extends layout to your side
extends layout/sidebar

block var
	- title = "Blog page";

block banner
	// Start hero-section
	section.hero-section.block--bgImage
		+heroItem("Blog detail", "Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum.")
			+breadcrumb([["pages", "#"]], "Blog detail")

	// End hero-section 

block main
	// Start tour-section
	article.post__item.post--detail
		.thumbnail-wrapper
			img(src=$imgBaseUrl + "placeholder/full-blog-img1.jpg", alt="")
			
		.post__content
			h1 Velit auctor aliquet etiquette Tips for Travellers
			ul.post__meta
				li
					i.fas.fa-calendar-alt
					span.date-post 24 Feb 2018
				li 
					i.fas.fa-user 
					a(href="#").post__author By Josaon Smith
				li 
					i.fas.fa-comments
					span.post__comments 21 Comments
			.entry-content
				p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
				ul
					li Nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
					li Morbi accumsan ipsum velitec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
					li Nec sagittis sem nibh id elit. Duis sed odio sit amet nibh cursus a sit amet mauris
				blockquote.blockquote--border
					p nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
					a(href="#") By Roy Miller
				img.img-left(src=$imgBaseUrl + "placeholder/re-tour-img1.jpg", alt="")
				p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
				p Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent 
				p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
				img.img-right(src=$imgBaseUrl + "placeholder/re-tour-img2.jpg", alt="")
				p Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent
				p This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
		ul.post__footer
			li.post__tags
				i.fas.fa-tags
				a(href="#") Honeymoon
				a(href="#") Travel
				a(href="#") Tour
			li.post__socialIcons 
				span Share:
				ul.social-icons.icon--bgColor
					+social-icon2(4)

	.block--imgLeft.author-block
		.thumbnail-wrapper
			img(src=$imgBaseUrl + "placeholder/author-img1.jpg", alt="")
			i.fa.fa-user
		.content-wrapper
			h4 BOUT THE AUTOR DINAL MILLER
			p Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
	
	section.block--imgLeft.comment-block
		+title-block("", "COMMENTS")
		.comment-container
			mixin commentItem(imgUrl)
				.thumbnail-wrapper
					img(src=$imgBaseUrl + imgUrl, alt="")
					i.fa.fa-user
				.content-wrapper
					h5 BOUT THE AUTOR DINAL MILLER
					span.comment__time March 24, 2018 At 07:45 Pm
					a(href="#").button-reply Reply
					p Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
			ul
				li
					+commentItem("placeholder/comment-img1.jpg")
					ul
						li
							+commentItem("placeholder/comment-img2.jpg")
				li
					+commentItem("placeholder/comment-img1.jpg")
	section.contact-frm-wrapper
		+title-block("", "LEAVE US A REPLY")
		.row
			+contact-frm()#comment-frm

block sidebar
	mixin widget-search()
		form.frm-inline#search-frm(action="#", method="post", enctype="multipart/form-data")
			label.sr-only(for="search") Enter Your Key Word
			input(type="text", placeholder="Enter Your Key Word", id="search")
			button(type="submit"): i.fas.fa-search(aria-hidden="true")
	+widget-search()

	mixin widget-category()
		.widget.widget-category
			h3.title__main CATEGORIES
			ul.menu--aside&attributes(attributes)
				each val in ["Travl & Tour", "Hotels", "Event", "Rooms", "Honey Moon"]
					li 
						a(href="#")= val
						span 22
	+widget-category()
	
	mixin widget-postItem(imgUrl, title, date, comment)
		.post--widget
			.thumbnail-wrapper
				img(src=imgUrl, alt="")
				
			.content-wrapper
				h5: a(href="#", title="")= title || "10 Best Travel and Tour Spot"
				ul.post__meta
					li
						i.fas.fa-calendar-alt
						span.date-post= date || "24 Feb 2018"
					li
						i.fas.fa-comments
						span.category= comment || "21 Comments"
				
	mixin widget-posts()
		.widget.widget-posts
			h3.title__main RECENT POST
			+widget-postItem($imgBaseUrl + "placeholder/widget-posts-img01.jpg", "", "", "")
			+widget-postItem($imgBaseUrl + "placeholder/widget-posts-img02.jpg", "", "", "")
			+widget-postItem($imgBaseUrl + "placeholder/widget-posts-img03.jpg", "", "", "")
	+widget-posts()