//- extends layout to your side
extends layout/layout

block var
	- title = "Contact page";
block content

	// Start hero-section
	section.hero-section.block--bgImage
		+heroItem("Contact us", "Curabitur nunc erat, consequat in erat ut, congue bibendum nulla. Suspendisse id pharetra lacus, et hendrerit mi quis leo elementum.")
			+breadcrumb([["pages", "#"]], "Contact")

	// End hero-section 

	// Start contact-section
	section.block.contact-block.text-center
		.container
			+title-block("About Bon Voyage", "KEEP IN TOUCH")
			.row
				.col-sm-4
					+iconItem("fas fa-phone", "PHONE NUMBER", '<a href="tel:760-284-3410">760-284-3410</a><br/> <a href="tel:760-284-3410">760-284-3410</a>')
				.col-sm-4
					+iconItem("fas fa-envelope-open", "EMAIL ADDRESS", '<a href="mailto:info@easytravel.com">info@easytravel.com</a><br/> <a href="mailto:Support@easytravel.com">Support@easytravel.com</a>')
				.col-sm-4
					+iconItem("icon-signs", "LOCATIONS", "1457/784, My Street, Kingston,<br/>New York")

	// Start contact-section
	section.contact-frm-wrapper
		#map-general
		.container
			+title-block("Nullam Dictum Feliseu Pede Mollis Pretium", "GET INTOUCH WITH US")
			.row
				+contact-frm()#contact-frm
	
	+partner()