mixin widget-filter
	.widget.widget-filter
		.title-wrapper
			h4 Price Range

		form(action="")
			label#priceFilter.show-for-sr Price Range
			#slider_filter_price.slider(aria-labelledby="priceFilter")
				span.slider-handle(data-slider-handle, role="slider", tabindex="1", aria-controls="priceFrom")
				span.slider-fill(data-slider-fill)
				span.slider-handle(data-slider-handle, role="slider", tabindex="2", aria-controls="priceTo")
				input#priceFrom(type="hidden")
				input#priceTo(type="hidden")
			.price_label
				| Price: 
				span.from
				|  — 
				span.to
			button.btn.btn-outline Filter

mixin simpleMenu(arr)
	ul&attributes(attributes)
		each val in arr
			li: a(href="#")= val   

mixin widget-category
	.widget.widget-category
		.title-wrapper
			h4 CATEGORIES
		ul#category-menu.vertical.menu.accordion-menu(data-accordion-menu, data-submenu-toggle="true")
			li 
				a(href="#") sơn toa
			li 
				a(href="#") sơn kova
				+simpleMenu(["CANCUN", "FLORIDA", "HAWAII", "MAZATLAN"])(class="menu vertical nested")
			each val in ["sơn nippon", "sơn joton", "sơn bạch tuyết", "sơn propan", "sika (chống thấm)", "sơn jotun", "sơn tison", "sơn mykolor", "sơn nero", "sơn terraco", "sơn puma"]
				li: a(href="#")= val

mixin fd-breadcrumbs(list)
	// Start breadcrumb-section
	nav(aria-label="You are here:", role="navigation")
		ul.breadcrumbs
			- var lastIndex = list.length - 1;
			- for( x = 0; x < lastIndex; x++){
					li: a(href="#")= list[x]
			- }
			li
				span.show-for-sr Current: 
				| #{list[lastIndex]}

mixin fd-pagination
	nav(aria-label="Pagination")
		ul.pagination
			li.pagination-previous.disabled
				| Previous 
				span.show-for-sr page
			li.current
				span.show-for-sr You're on page
				|  1
			li
				a(href="#", aria-label="Page 2") 2
			li
				a(href="#", aria-label="Page 3") 3
			li
				a(href="#", aria-label="Page 4") 4
			li.ellipsis(aria-hidden="true")
			li
				a(href="#", aria-label="Page 12") 12
			li
				a(href="#", aria-label="Page 13") 13
			li.pagination-next
				a(href="#", aria-label="Next page")
					| Next 
					span.show-for-sr page