
//- var elem = new Foundation.SmoothScroll(element, options);
	data-animation-duration	number	500	Amount of time, in ms, the animated scrolling should take between locations.
	data-animation-easing	string	linear	Animation style to use when scrolling between locations. Can be `'swing'` or `'linear'`.
	data-threshold	number	50	Number of pixels to use as a marker for location changes.
	data-offset	number	0	Number of pixels to offset the scroll of the page on item click if using a sticky nav bar.
mixin menu
	ul&attributes(attributes)
		each val in ["One", "Two", "Three", "Four"]
			li: a(href="#") <i class="fi-list"></i> #{val}
//- li.is-active: a(href="#") Active
+menu().menu.align-center
+menu().menu.expanded
+menu().menu.vertical.medium-horizontal

//- data-submenu-toggle="true" allows the parent item to have its own link, but still allows the submenu to be opened/closed
	var elem = new Foundation.AccordionMenu(element, options);

ul.vertical.menu.accordion-menu(data-accordion-menu, data-submenu-toggle="true")
	li 
		a(href="http://foundation.zurb.com/") Zurb Foundation
		+menu().menu.vertical.nested    
	li: a(href="#") Item 1A
	
//- var elem = new Foundation.Drilldown(element, options);
ul.vertical.menu.drilldown(data-drilldown, data-auto-height="true", data-animate-height="true", data-scroll-top="true")
	li 
		a(href="#") Item 1A
		+menu().menu.vertical.nested    
	li: a(href="#") Item 1A

//- var elem = new Foundation.DropdownMenu(element, options);
ul.vertical.menu.dropdown(data-dropdown-menu)
	li 
		a(href="#") Item 1A
		+menu().menu.vertical.nested    
	li: a(href="#") Item 1A

//- var elem = new Foundation.ResponsiveMenu(element, options);
.title-bar(data-responsive-toggle="responsive-menu", data-hide-for="medium")
	button.menu-icon(type="button", data-toggle="responsive-menu")
	.title-bar-title Menu

#responsive-menu.top-bar.stacked-for-medium(data-animate="hinge-in-from-top spin-out")
  .top-bar-left
	ul.vertical.medium-horizontal.menu(data-responsive-menu="drilldown medium-dropdown")
	  li.menu-text Site Title
	  li.has-submenu
		a(href="#") One
		ul.menu.vertical.submenu(data-submenu)
		  li
			a(href="#") One
	  li
		a(href="#") Two
  .top-bar-right
	ul.menu
	  li
		input(type="search", placeholder="Search")
	  li
		button.button(type="button") Search

//- var elem = new Foundation.Magellan(element, options);
// Add a Sticky Menu
div(data-sticky-container)
	#example-menu.top-bar(data-sticky, data-margin-top="0")
		.top-bar-left
			ul.menu
				li.menu-text Site Title
		.top-bar-right
			ul.menu(data-magellan)
				li: a(href="#first") One
				li: a(href="#second") Two
				li: a(href="#third") Three

// sticky sidebar
.cell.large-3
	nav.sticky-container(data-sticky-container)
		.sticky(data-sticky, data-anchor="exampleId", data-sticky-on="large")
			ul.vertical.menu(data-magellan)
				li: a(href="#first") First Arrival
				li: a(href="#second") Second Arrival
				li: a(href="#third") Third Arrival

// Add content where magellan will be linked
.sections
section#first(data-magellan-target="first") First Section
section#second(data-magellan-target="second") Second Section
section#third(data-magellan-target="third") Third Section


nav(aria-label="You are here:", role="navigation")
  ul.breadcrumbs
	li
	  a(href="#") Home
	li
	  a(href="#") Features
	li.disabled Gene Splicing
	li
	  span.show-for-sr Current: 
	  |  Cloning

//- .off-canvas-absolute
	.off-canvas {position: fixed} which is the default
	data-transition="push" which is the default
	.reveal-for-large determine what breakpoint the off-canvas will default open
button.button.hide-for-large(type="button", data-toggle="offCanvasLeft") Open Left

.off-canvas-wrapper
  #offCanvasLeft.off-canvas.position-left.in-canvas-for-large(data-off-canvas, data-transition="overlap")
	// Menu
	ul.vertical.menu
		li
			a(href="#") Foundation
		li
			a(href="#") Dot
		li
			a(href="#") ZURB


  .off-canvas-content(data-off-canvas-content)
	p Im a unique off-canvas container all on my own!

