// Start header-section
header.header-section
	.top-bar
		.container
			.row
				+simple-social-icon().hidden-xs
				.offer-wrapper
					ul.offer-slider
						li offer: tour 90% off <a href="#">Join Now</a>
						li offer: Worldwide tour 50% off <a href="#">Join Now</a>
						li offer: public tour 50% off  <a href="#">Join Now</a>
				ul.user-actions.hidden-xs
					li
						i.icon-people 
						a(href="#") login
					li: a(href="#") register
		// End top-bar

	.main-header.container
		a.logo-wrapper(href="#", title="") 
			img(src=$imgBaseUrl +"common/logo_v1.png", alt="")
		.nav-right
			nav#main-menu.menu.dl-menuwrapper
				button.dl-trigger.hidden-lg.hidden-md Menu
				ul.wp-menu.dl-menu
					+wp-menuItem("HOME", "index.html", "isActive")
					+wp-menuItem("DESTINATIONS", "#", "")
						small.badge-top NEW
					+wp-subMenu("TOUR", "blog.html", ["tour sidebar", "tour detail"])(class="dl-submenu")
					+wp-menuItem("HOT DEALS", "#", "")
						small.badge-top.orange-bg TREND
					+wp-menuItem("ABOUT", "about.html", "")
					+wp-menuItem("CONTACT", "contact.html", "")

			a(href="#")#making-plan.button.button-default Plan a trip

			.quick-access(style="display:none;")
				button#quick-menu-btn: i.fa.fa-bars(aria-hidden="true")
				#quick-menu-popup
					.svg-animation.
						<svg class="menu-overlay" viewBox="0 0 100 100" preserveAspectRatio="none">
							<path class="path" d=""></path>
							<path class="path" d=""></path>
							<path class="path" d=""></path>
						</svg>

					ul.quick-links
						each el, i in ["ABOUT US", "HOT DEALS", "COMMING-SOON", "BLOG DETAIL", "TEAM404", "SHOP"]
							li: a(href="#", title="")= el
// End header-section
