/*-----------------------------------------
 1. about-section
------------------------------------------*/



.package-block{
    @extend %clearfix;
    .block--icon{
        margin-bottom: 0;
        .icon-wrapper{
            font-size: 4rem;
            color: $white;
            border-color: $white;
        }
        &:hover{
            &:before{ opacity: 0.9; }
            .icon-wrapper{ background: $color-highlight ; color: $white; }
            .overlay{ transform: scale(1.03) perspective(600px);}
        }
        
    }
    .overlay{
        padding: 50px 30px;
        text-align: center;
        color: $white;
        transform: scale(1) perspective(600px);
        @extend %default-transition;
    }
    @include media(sm){
        display: flex;
        flex-wrap: wrap;
        .block--icon{
            width: 50%;
        }
    }
    @include media(lg){
        display: table;
        .block--icon{
            width: 25%;
            display: table-cell;
        }
    }
}
.highlight-block{ 
    text-align: center; 
    h4{ text-transform: uppercase; }
}
.partner-slider{
    .slick-slide{
            display: inline-block;
            text-align: center;
        border: 2px solid #d5d5d5;
    margin: 0px 15px 23px;
    img{ display: table; margin: 15px auto;}
    }

}
.slick-dots{
    text-align: center;
    li{
        display: inline-block;
        margin-right: 10px;
        &.slick-active button{
            @extend %bg-hightlight;
        }
    }
    button{
        background: transparent;
        padding: 0px;
        width: 13px;
        height: 13px;
        border: 1px solid #adadad;
        border-radius: 100%;
        text-indent: -99999px;
        cursor: pointer;
        
    }
} 
#map-general {
    height: 550px;
    width: 100%;
}
.contact-frm-wrapper .container{
    background-color: $white;
    margin-top: -150px;
    padding: 60px 30px 30px;
    position: relative; z-index: 1;
}
.frm-wrapper{
   
    @include frm(all){
        margin-bottom: 30px;
    }
    textarea{ height:127px; }
    @include media(sm){
         column-count: 2;
    }
}
