/**
 * 2.0 - POST 
 */ 
.post{
  @at-root #{&}__item{
    border: 1px solid $grey;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    @extend %effect-img-01;
    .svg-inline--fa{ margin-right: 10px; }
    h4{ font-weight: normal; margin: 0 0 9px 0; font-size: 2.4rem; }
    &:hover{
      h4{ color: $color-highlight; }
    }
  }
  @at-root #{&}__content{
    border-bottom: 1px solid $grey;
    padding: 25px 20px 23px;
  }
  @at-root #{&}__meta{
    margin: 0 -15px 7px 0;
    color: #666666;
    li{ display: inline-block; padding-right: 15px;}
  }
  @at-root #{&}__footer{
    padding: 13px 20px;
    > li{ 
      display: inline-block; width: 48%;
      &:last-of-type{ text-align: right; float: right;}
    }
    .post__socialIcons{ 
      margin: -9px 0; 
      ul{ display: inline-block; vertical-align: middle; margin-left: 10px;}
    }
  }
  @at-root #{&}__tags{
    a + a:before{
    content: ",\00a0";
    position: inline-block;
    }
  }
}
.author-block{
  border: 1px solid $grey;
  padding: 20px 30px;
  margin-bottom: 30px; 
}

.comment-container{
  > ul{ 
    border-bottom: 1px solid $grey;
    padding-bottom: 30px;
    margin-bottom: 45px;
    > li:first-of-type{ border: 0; margin: 0; padding: 0;}
  }
  li{
    border-top: 1px solid $grey;
    padding-top: 30px;
    margin-top: 30px;
  }
  ul ul{
    padding-left: 50px;
  }
}

.post--widget{
  @extend %clearfix;
  margin-bottom: 30px; 
  .thumbnail-wrapper{
    width: 100px; 
    overflow: hidden;
    background: $grey;
    float: left;
    margin: 0 20px 0 0;
  }
  .content-wrapper{ 
      overflow: hidden; 
  }
  &:hover{
      a{ @extend %color-hightlight; }
  }
  h5{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .svg-inline--fa{ margin-right: 10px; }
}
.widget{
  + .widget{
    margin-top: 30px;
    border-top: 1px solid $grey;
    padding-top: 30px;
  }
  .title__main{
    margin-bottom: 30px;
  }
  &-category{
    .menu--aside{ 
      font-size: 1.5rem;
      @extend %bullet-list; 
      li:hover {
        a, span{ color: $orange; }
      }
    }
    span{
      float: right;
      &:before{
        content: "(";
      }
      &:after{
        content: ")";
      }
    }
  }
}
.frm-inline{
  position: relative;
  margin-bottom: 30px;
  button[type="submit"]{
    position: absolute; top:0; right:0;
    height: 100%; padding: 0 15px;
    text-align: center;
    color: #999999;
  }
}
@include media-only(md){ 

};