/*-----------------------------------------
 TABLE OF CONTENT
 1. hero-section
 2. overview-section
------------------------------------------*/
.filter-list{
    position: relative;
    text-align: justify;
    margin-bottom: 30px;
    &:after{
        content: "";
        display: block;
        margin: 0 auto;
        border-bottom: 1px solid $grey;
    }
    li{
        display: inline-block;
        a{
            position: relative;
            display: inline-block;
            padding: 10px 15px;
            font-size: 15px; line-height: 15px;
            font-weight: 500;
            text-transform: capitalize;
            cursor: pointer;
            @extend %displayIcon;
            &:after{
                content: "";
                position: absolute; bottom: 0px; left: 0px; right: 0px;
                width: 0%;
                margin: 0px auto;
                border-bottom: 2px solid;
                @extend %default-transition;
            }
        }

        &:hover, &.active{
            a{
                color: $white;
                @extend %bg-hightlight;
            }
        }
    }
    
}

/*-----------------------------------------
 1. product-item
------------------------------------------*/
.tour{
    @at-root #{&}__item{
        position: relative;
        border: 1px solid $grey;
        margin-bottom: 30px;
        // ul{ display: inline-block; }
        .meta-package{
            .icomoon{ margin-right: 5px;}
            [class*="icon-"]{font-size: 1.8rem;}
            .svg-inline--fa{font-size: 2rem;}
        }
        .meta-duration{
            font-weight: 600;
        }
        .meta-location{
            @extend .reviews;
            a + a{
                &:before{
                    @include pseudo(slash, inline-block);
                    margin: 0 6px 0 2px;
                }
                
            }
        }
        .reviews{
            font-size: 1.2rem;
            font-weight: 600;
            color: #5e5e5e;
        }
        .meta-rating{
            li{ display: inline-block; }
            .rate-bar{ padding-left: 0; }
        }
    }
    @at-root #{&}__meta{
        height: 40px; line-height: 40px; 
        margin-top: -40px;
        position: relative; z-index: 9;
        color: $white;
        background: rgba(0,0,0,.7);
        padding: 0 15px;
        > ul > li{
            display: inline-block; margin-right: 10px;
            &:last-of-type{margin-right: 0;}
        } 
    }
    @at-root #{&}__price{
        position: absolute; top: 0; right: 0;
        width: 60px; height: 30px; line-height: 30px;
        border-radius: 0 0 0 10px;
        // position: relative; z-index: 10;
        // float: right;
        // width: 78px; height: 78px;
        // margin: -58px 15px 0 0;
        text-align: center;
        
        color: $white;
        font-weight: 600;
        @extend %default-transition;
        @extend %bg-hightlight;
    }
    @at-root #{&}__content{
        padding: 24px 20px 28px;
        h3{ margin-top: 5px; }
    }
    @at-root #{&}__actions{
        border-top: 1px solid $grey;
        @extend %clearfix;
        > li{
            float: left;
            position: relative;
            &:first-of-type{ width: 40%; }
            + li{
                width: 20%;
                border-left: 1px solid $grey;
            }
            &:hover{
                .badge-top{
                    display: block;
                }
            }
        }
        .badge-top{
            display: none;
            min-width: 100px; 
            right: 45px; bottom: 100%;
            margin-bottom: 10px;
            padding: 4px 10px;
            &:before{
                left: auto; right: 0px; bottom: -5px;
                border-width: 0 5px 6px 0;
                border-color: transparent $color-highlight transparent transparent;
            }
        }
        .social-icons{
            white-space: nowrap;
            a{display: inline-block; padding: 0 10px; font-weight: bold;}
        }
    }
    @at-root #{&}__button{
        display: block;
        height: 45px; line-height: 45px;
        text-align: center;
        [class*="icon-"]{ font-weight: bold; }
        @extend %default-transition;
        &:hover{
            color: $white;
            @extend %bg-hightlight;
        }
        &.button--lg{
            font-size: 1.6rem;
            font-weight: 500;
            @include pseudo-svgBg($type: inline-block, $width: 6px, $height: 10px, $svgIcon: chevron-right , $svgColor: $color-base);
            &:hover:after{
                @include svgBg($svgIcon: chevron-right, $color: $white);
            }
        }
    }
    @at-root #{&}--effectHover{
        @extend %effect-img-01;
    }
    
}
@include media(sm){
    .filter-list{
        text-align: center;
        margin-bottom: 50px;
        &:after{ width: 70%; }
        li{
            &:hover, &.active{
                a{
                    color: $color-highlight;
                    background: $white;
                    &:after{ width: 100%; }
                }
            }
        }
        
    } 
    .tour__item{
        .thumbnail-wrapper{
            max-height: 256px;
        }
    }  
    .tour__meta{ padding-right: 95px; }
    .tour__price{
        position: relative; z-index: 10;
        float: right;
        width: 78px; height: 78px;
        margin: -58px 15px 0 0;
        line-height: 73px;
        border-radius: 100%;
        border: 4px solid $white;
    } 
}
@include media(md){
}
@include media-only(xs){

}