
/*-----------------------------------------
MOBILE FIRST METHOD
------------------------------------------*/

@include media(xs){ 

};
@include media(sm){ 
    .city-list li{
        width: 25%; 
    }
    .title__main{ font-size: 3.6rem; }
    .testimonia footer{ padding: 0px 60px; }
};
@include media(md){ 
    .city-list li{
        width: 12.111%; 
    }
};
@include media(lg){ 
   
};

/*-----------------------------------------
DESTOP FIRST METHOD
------------------------------------------*/
@include media-destop-first(lg){ 

};
@include media-destop-first(md){ 

};
@include media-destop-first(sm){ 

};
@include media-destop-first(xs){ 
    .intro{ margin-top: 30px; }
    .process-item{
        text-align: center;
        .icon-wrapper svg{ display: block; margin: auto ; }
    }
    .article__item{margin-bottom: 30px; }
}

/*-----------------------------------------
RESTRICTED SCREEN
------------------------------------------*/
@include media-only(xs){ 
    
};
@include media-only(sm){ 

};
@include media-only(md){ 
    
};
@include media-only(lg){

}
@include media-retina(){

}



@media (min-width: 992px) and (max-width: 1199.99px) {  }
@media (min-width: 768px) and (max-width: 991.99px) {
    %gutter-15{
        .row{ 
            margin-left: -7.5px; margin-right: -7.5px;
            [class*="col-"]{ padding-left: 7.5px; padding-right: 7.5px;}
        }
    }
}
@media (min-width: 576px) and (max-width: 767.99px)  {  }
@media (max-width: 575.99px)  {  }