//- FOOTER
mixin widget-footer(title, email, phone, address, mapUrl="https://goo.gl/maps/")
	// Begin widget footer 
	.widget-wrapper
		h3.widget-title!= title
		.widget-content
			ul.content-list
				li: a(href="mailto:" + email) #[i.fa.fa-envelope] #{email}
				li: a(href="tel:" + phone, rel="nofollow") #[i.fa.fa-phone] #{phone}
				li: address #[i.fa.fa-map-marker] #{address}
	// End widget footer 

mixin sub-footer
	span.copyright © Exline 2016
		a(href="#", target="_blank") Likipe
	ul.social-links
		li
			a(href="#", target="_blank"): i.fa.fa-facebook

mixin scroll-to-top
	a#scroll-top-link(href="javascript:void(0)", title="Scroll to top", aria-hidden="true")
		span.sr-only Scroll to top


//- footer.footer-section>.container>.row>.col-md-4.widget>h3.widget-title+.widget-content
	ul.content-list>li>a:mail>i.fa.fa-email+span{text}
	a[href="tel:+01-562-867-5309" rel="nofollow"]
	span.copyright{© Exline 2016}>a
	ul.social-links>li*5>a[target="_blank"]>i.fa.fa-facebook
	a#scroll-top-link[href="#", title="Scroll to top", aria-hidden="true"]>span.sr-only{Scroll to top}