//- TABLE OF CONTENT
	1. CAPTION CASOUSEL
	2. SIMPLE CASOUSEL
	3. SYN SLIDER

//- 1. CAPTION CASOUSEL
mixin fullwith-casousel(urlImg, title, txt)
	// begin slider-item
	.slider__item.caption--center&attributes(attributes)
		.slider__thumnail(style="background-image: url(" + $imgBaseUrl + urlImg + ");")
			img( src="#", data-lazy=$imgBaseUrl + urlImg, alt="")
		.slider__caption.container
			.slider__inner
				if(block)
					block
				else
					h2(data-delay=".1s" data-animation="fadeInUp")!= title || "<strong>Dicover the</strong><br/>Journey Of a Lifetime"
					p(data-delay=".2s" data-animation="fadeInUp")= txt || "Let our experts plan your private, tailor-made & seamless tour in 38 inspiring destinations."
					a.button.button-default(href="#" data-delay=".3s" data-animation="fadeInUp") see more
					a.button.button-orange(href="#" data-delay=".3s" data-animation="fadeInUp") Join Now
	// end slider-item

//- 2. SIMPLE CASOUSEL
	+simple-carousel(["partner-01.png", "partner-01.png"])
mixin simple-carousel(arr)
	ul.slider-wrapper
		each imgUrl in arr
			a(href="#", target="_blank", title=""): img(src="images/" + imgUrl, alt="").img-responsive

//- 3. SYN SLIDER
	+synSlider(["slider01_860x464.jpg", "slider02_860x464.jpg"])(class="col-md-5")
mixin synSlider(imgArr)
	.owl-carousel&attributes(attributes)
		.main-slider
			each item in imgArr
				a(href="images/" + item): img(src="images/" + item, alt="").img-fluid
		.thumbnails-slider